body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #16a34a;
}
